name: Checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10']

    steps:
    - uses: actions/checkout@main
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@main
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        # prerequisites
        python -m pip install --upgrade pip wheel
        python -m pip install coverage flake8 pytest
        # install dependencies
        pip install -e .
        pip install -r tests/requirements.txt
        # show installed packages
        pip freeze
    - name: Lint with flake8
      run: |
        flake8 --exclude _version.py .
    - name: Test with pytest
      run: |
        coverage run --source=fcswrite -m pytest tests
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
